@use "../partials/colors" as *;
@use "../partials/fonts" as *;
@use "../partials/variables" as *;

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
  max-width: 400px;

  @media (min-width: 760px) {
    max-width: 600px;
  }

  @media (min-width: 1024px) {
    max-width: 1000px;
  }
}
