@import url("https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&display=swap");
.header {
  width: fit-content;
  font-family: "Gorditas", serif;
  font-weight: 700;
  margin-top: 2rem;
  z-index: 1;
}
.header h1 {
  margin: 0;
  padding: 1rem;
  text-shadow: 1px 1px 0 #d23825;
}
.header__heading {
  z-index: 1;
  color: #fff3e9;
  font-size: 1.2rem;
}

.word {
  width: fit-content;
  border: none;
  background-color: #23426b;
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 15px;
  border: 2px solid #e4bc98;
  box-shadow: 3px 3px 0 #e4bc98;
  z-index: 1;
}
.word__underscore {
  display: flex;
  gap: 1rem;
  color: #fff3e9;
  font-family: "Puritan", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-shadow: 1.5px 1.5px 0.5px #e4bc98;
}

.plate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.plate__base {
  position: relative;
  width: 220px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .plate__base {
    width: 320px;
  }
}
@media (min-width: 1024px) {
  .plate__base {
    width: 420px;
  }
}
.plate__base img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
@media (min-width: 768px) {
  .plate__base img {
    width: 320px;
  }
}
@media (min-width: 1024px) {
  .plate__base img {
    width: 420px;
  }
}
.plate__ing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-shadow: 0.5px 0.5px 1px #adadad;
}
.plate__ing div:nth-child(1) {
  transform: translate(-50%, -50%) rotate(15deg);
}
.plate__ing div:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-10deg);
}
.plate__ing div:nth-child(3) {
  transform: translate(-50%, -50%) rotate(20deg);
}
.plate__ing div:nth-child(4) {
  transform: translate(-50%, -50%) rotate(-5deg);
}
.plate__ing div:nth-child(5) {
  transform: translate(-50%, -50%) rotate(12deg);
}
.plate__ing div:nth-child(6) {
  transform: translate(-50%, -50%) rotate(-18deg);
}

.pantry {
  position: absolute;
  left: 1rem;
  background-color: #fff3e9;
  border: 2px solid #e4bc98;
  border-radius: 10px;
  box-shadow: 3px 3px 0 #e4bc98;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 760px) {
  .pantry {
    left: 2rem;
  }
}
@media (min-width: 1024px) {
  .pantry {
    left: 3rem;
  }
}
.pantry__item {
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attempts {
  display: flex;
  background-color: #fff3e9;
  color: #d23825;
  border-radius: 10px;
  font-family: "Puritan", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  width: fit-content;
  padding: 0.5rem;
  height: 1rem;
  visibility: hidden;
  z-index: 1;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
  max-width: 400px;
}
@media (min-width: 760px) {
  .keyboard {
    max-width: 600px;
  }
}
@media (min-width: 1024px) {
  .keyboard {
    max-width: 1000px;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  justify-content: center;
  align-items: center;
  font-family: "Gorditas", serif;
  color: #d23825;
}
.modal.active {
  display: flex;
}
.modal__box {
  position: relative;
  background: #fff3e9;
  border-radius: 15px;
  border: 2px solid #d23825;
  box-shadow: 3px 3px 0 #d23825;
  padding: 2rem;
  text-align: center;
}
.modal__emoji {
  font-size: 5rem;
}
.modal__text {
  font-size: 1rem;
}
.modal__playAgain {
  position: absolute;
  bottom: -4rem;
  font-family: "Puritan", sans-serif;
  font-size: 1rem;
  color: #fff3e9;
  background-color: #23426b;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
  border: 2px solid #d23825;
  box-shadow: 3px 3px 0 #d23825;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  width: auto;
}

html {
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  font-size: 16px;
}
@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 24px;
  }
}

body {
  max-width: 1440px;
  margin: 0 auto;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body img.bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: left center;
  z-index: -1;
  overflow: visible;
  object-position: 70% center;
}
@media (min-width: 768px) {
  body img.bg {
    object-position: 70% center;
  }
}
@media (min-width: 1024px) {
  body img.bg {
    left: 0;
    object-position: 80% center;
  }
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 0;
}

button {
  all: unset;
  font-family: "Puritan", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #fff3e9;
  border-radius: 7px;
  width: 1.5rem;
  text-align: center;
  border: 2px solid #e4bc98;
  padding: 1px;
  box-shadow: 3px 3px 0 #e4bc98;
  z-index: 1;
}
@media (min-width: 1024px) {
  button {
    font-size: 2rem;
    width: 2rem;
  }
}

button.correct:disabled {
  background-color: #e4bc98 !important;
  cursor: default;
}

button.wrong:disabled {
  background-color: #d23825 !important;
  cursor: default;
}

.middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0.5rem;
  z-index: 1;
}

/*# sourceMappingURL=output.css.map */
